body {
  height: 100vh;
  background-image: linear-gradient(to right, #c94b4b, #4b134f);
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.wordInput {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
}

.dogImg {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.getImgBtn {
  margin: 1rem;
  width: 100px;
  align-self: center;
  background-image: linear-gradient(
    to right top,
    rgb(29, 165, 218),
    rgba(255, 255, 255, 0.555)
  );
  border: none;
  padding: 10px;
  border-radius: 15px 0;
  position: sticky;
  top: 0;
}
