body {
  height: 100vh;
  background-image: linear-gradient(to right top, red, yellow);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
}

.dogImg {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.getImgBtn {
  margin: 1rem;
  width: 100px;
  align-self: center;
  background-image: linear-gradient(
    to right top,
    rgb(29, 165, 218),
    rgba(255, 255, 255, 0.555)
  );
  border: none;
  padding: 10px;
  border-radius: 15px 0;
  position: sticky;
  top: 0;
}
